.g2yPL5PuP5YcxDAm6OHT {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19999;
}
.TKXFYjyTT7BRVXk2l6uF a {
    color: #5e33bf;
    font-weight: 700;
    text-decoration: underline;
  }
  .TKXFYjyTT7BRVXk2l6uF a svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  .TKXFYjyTT7BRVXk2l6uF a svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #5e33bf;
  }
  .TKXFYjyTT7BRVXk2l6uF a svg circle.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #5e33bf;
  }
  .TKXFYjyTT7BRVXk2l6uF a:hover,
  .TKXFYjyTT7BRVXk2l6uF a:focus,
  .TKXFYjyTT7BRVXk2l6uF a:focus-within,
  .TKXFYjyTT7BRVXk2l6uF a:active {
    color: #5e33bf;
  }
  .TKXFYjyTT7BRVXk2l6uF a:hover svg,
  .TKXFYjyTT7BRVXk2l6uF a:focus svg,
  .TKXFYjyTT7BRVXk2l6uF a:focus-within svg,
  .TKXFYjyTT7BRVXk2l6uF a:active svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  .TKXFYjyTT7BRVXk2l6uF a:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .TKXFYjyTT7BRVXk2l6uF a:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .TKXFYjyTT7BRVXk2l6uF a:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .TKXFYjyTT7BRVXk2l6uF a:active svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #06512c;
  }
  .TKXFYjyTT7BRVXk2l6uF a:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:hover svg path.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:focus svg path.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:active svg circle.gZCekxKuewhQhlBZDuJQ,
  .TKXFYjyTT7BRVXk2l6uF a:active svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #fff;
  }
  .TKXFYjyTT7BRVXk2l6uF a:not([href]) {
    opacity: 0.8;
    cursor: not-allowed;
    color: #fff !important;
  }
  .TKXFYjyTT7BRVXk2l6uF a.o53g2xMKPHItiQ_Pa50z {
    color: #fff !important;
  }
  
  .TKXFYjyTT7BRVXk2l6uF > :first-child {
    margin-top: 0;
  }
  .TKXFYjyTT7BRVXk2l6uF > :last-child {
    margin-bottom: 0;
  }
  
  .N8JKKJ9GMp6XB25A3VK8 {
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-image: radial-gradient(150px at bottom 60px left 290px, transparent 99%, black 100%);
    mask-image: radial-gradient(150px at bottom 60px left 290px, transparent 99%, black 100%);
  }
  
  .WKlsVvzGQcaszJKQigkg {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-mask-image: none;
    mask-image: none;
  }
  
  .NFIyN4kDgBJX4_hCTjAo {
    -webkit-mask-image: radial-gradient(350px at bottom 60px left 40px, transparent 99%, black 100%);
    mask-image: radial-gradient(350px at bottom 60px left 40px, transparent 99%, black 100%);
  }
  
  .xsQ_pBk79MDxlAtWKQ1i {
    mask-image: none;
    -webkit-mask-image: none;
  }
  
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 2.5em;
    -webkit-transition: none;
    transition: none;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    vertical-align: middle;
    padding: 6px 18px;
    font-family: "Clarivate", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #f3f9f6;
    background-color: #f3f9f6;
    color: #4a494a;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #b0afb0;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #b0afb0;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:hover,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus-within,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:active,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:hover,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus-within,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:active {
    outline: none;
    text-decoration: none;
    color: #4a494a;
    background-color: #e9f4ee;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:hover svg,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus svg,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus-within svg,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:active svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:hover svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus-within svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:active svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:active svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:active svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #4a494a;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:hover svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:active svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:active svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:hover svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:active svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:active svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V:disabled,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  #fj4Y2VBM_jUdoqg8vxxE .pOV6BFePmeRb9zzOJ09V svg,
  .YqtWBHxfSeuDDI4tBtJq .pOV6BFePmeRb9zzOJ09V svg {
    margin-right: 0.75rem;
  }
  #fj4Y2VBM_jUdoqg8vxxE .ZFFejwogdbRltBtqgc3n svg,
  .YqtWBHxfSeuDDI4tBtJq .ZFFejwogdbRltBtqgc3n svg {
    margin-right: 0;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb {
    min-height: auto;
    width: 1.75em;
    height: 1.75em;
    margin: 0 0.5rem 0 0;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active {
    border: 1px solid #f3f9f6;
  }
  #fj4Y2VBM_jUdoqg8vxxE .SlU_AzpYh4lpS86_AlqH,
  .YqtWBHxfSeuDDI4tBtJq .SlU_AzpYh4lpS86_AlqH {
    width: 100%;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z {
    border: 0;
    background-color: #f3f9f6;
    color: #fff;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z svg,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #fff;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #fff;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:hover,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:focus,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:hover,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:focus {
    color: #fff;
    background-color: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:hover svg,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:focus svg,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:hover svg,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:focus svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #fff;
  }
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:hover svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .o53g2xMKPHItiQ_Pa50z:focus svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:hover svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .o53g2xMKPHItiQ_Pa50z:focus svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #fff;
  }
  #fj4Y2VBM_jUdoqg8vxxE .jrqth2DBy5Tfn6bolRG3,
  .YqtWBHxfSeuDDI4tBtJq .jrqth2DBy5Tfn6bolRG3 {
    padding: 9px 36px;
    font-size: 21.6px;
    font-size: 1.2rem;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb {
    min-height: auto;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.5rem 0 0;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb svg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active {
    border: 1px solid #5e33bf;
    background-color: #e9f4ee;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover svg,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus svg,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within svg,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active svg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:hover svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active svg circle.gZCekxKuewhQhlBZDuJQ,
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:active svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:hover svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active svg circle.gZCekxKuewhQhlBZDuJQ,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:active svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #5e33bf;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb:last-child,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb:last-child {
    margin-right: 0;
  }
  #fj4Y2VBM_jUdoqg8vxxE .x_CwlUpfr3F8cJGqU9wb svg,
  .YqtWBHxfSeuDDI4tBtJq .x_CwlUpfr3F8cJGqU9wb svg {
    margin-right: 0;
  }
  
  .WKlsVvzGQcaszJKQigkg {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-mask-image: none;
    mask-image: none;
  }
  .YqtWBHxfSeuDDI4tBtJq,
  .y2eGkYbULQmLiDmmsaE_,
  .G7McxXXrgjal0gygY7go,
  .cA8Idbs6OA0BSmKw9Tam {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Clarivate", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .YqtWBHxfSeuDDI4tBtJq *:before,
  .y2eGkYbULQmLiDmmsaE_ *:before,
  .G7McxXXrgjal0gygY7go *:before,
  .cA8Idbs6OA0BSmKw9Tam *:before,
  .YqtWBHxfSeuDDI4tBtJq *:after,
  .y2eGkYbULQmLiDmmsaE_ *:after,
  .G7McxXXrgjal0gygY7go *:after,
  .cA8Idbs6OA0BSmKw9Tam *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .eHXvC2pkWtoHh3fOdygK {
    overflow: hidden !important;
  }
  
  .N7GBO0t9WTd0OozV15Vh {
    z-index: 70000000 !important;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    opacity: 0.8;
  }
  
  .xNhUX6MpP3eU4apTCdOF {
    position: relative;
    z-index: 80000000 !important;
  }
  
  .YqtWBHxfSeuDDI4tBtJq {
    position: fixed;
    bottom: 30px;
    left: 320px;
    width: 350px;
    z-index: 80000000;
    padding: 15px;
    background-color: #5e33bf;
    border: 3px solid #5e33bf;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
  .YqtWBHxfSeuDDI4tBtJq:before,
  .YqtWBHxfSeuDDI4tBtJq:after {
    content: "";
    position: absolute;
  }
  
  .wP_d6sVNjv41TuoIOqgu {
    top: 20vh;
    left: 50vw;
    margin-left: -175px;
  }
  
  .y2eGkYbULQmLiDmmsaE_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    min-width: 350px;
    min-height: 350px;
    z-index: 80000000;
    padding: 15px;
    background-color: #fff;
    border: 10px dashed #696969;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
  }
  .y2eGkYbULQmLiDmmsaE_ .MU1OWZXYSl7cGLHsourz {
    padding-right: 0;
  }
  
  .P8xmsluQbsK9kCB8J4TB:before {
    top: 50%;
    right: -50px;
    width: 50px;
    margin-top: -5px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .P8xmsluQbsK9kCB8J4TB:after {
    top: 50%;
    right: -80px;
    height: 0;
    width: 0;
    margin-top: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #5e33bf;
  }
  
  .G6JUSg1GIC3pcwn4LtwJ:before {
    top: 25px;
    right: -50px;
    width: 50px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .G6JUSg1GIC3pcwn4LtwJ:after {
    top: 10px;
    right: -80px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #5e33bf;
  }
  
  .TSVTVmbeKDsx1uaA3jwg:before {
    bottom: 25px;
    right: -50px;
    width: 50px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .TSVTVmbeKDsx1uaA3jwg:after {
    bottom: 10px;
    right: -80px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #5e33bf;
  }
  
  .lXK6keKCXOgkCYRWTuuw:before {
    top: 50%;
    left: -50px;
    width: 50px;
    margin-top: -5px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .lXK6keKCXOgkCYRWTuuw:after {
    top: 50%;
    left: -80px;
    height: 0;
    width: 0;
    margin-top: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #5e33bf;
  }
  
  .ziKSzAZaZuS7hitu2X8Z:before {
    top: 25px;
    left: -50px;
    width: 50px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .ziKSzAZaZuS7hitu2X8Z:after {
    top: 10px;
    left: -80px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #5e33bf;
  }
  
  .quK2DZCe63wsbgp9iUm4:before {
    bottom: 25px;
    left: -50px;
    width: 50px;
    border-top: 5px solid #5e33bf;
    border-bottom: 5px solid #5e33bf;
  }
  .quK2DZCe63wsbgp9iUm4:after {
    bottom: 10px;
    left: -80px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #5e33bf;
  }
  
  .GrMWkdgGakDmpReMdXtx:before {
    top: -50px;
    left: 50%;
    height: 50px;
    margin-left: -5px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .GrMWkdgGakDmpReMdXtx:after {
    left: 50%;
    top: -80px;
    height: 0;
    width: 0;
    margin-left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #5e33bf;
  }
  
  .YksVyuEMbXSg025JadDh:before {
    left: 25px;
    top: -50px;
    height: 50px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .YksVyuEMbXSg025JadDh:after {
    left: 10px;
    top: -80px;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #5e33bf;
  }
  
  .CTXY9eKXSOcPsREchYI2:before {
    right: 25px;
    top: -50px;
    height: 50px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .CTXY9eKXSOcPsREchYI2:after {
    right: 10px;
    top: -80px;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #5e33bf;
  }
  
  .mV5XjFYui13hlKYiF9fz:before {
    bottom: -50px;
    left: 50%;
    height: 50px;
    margin-left: -5px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .mV5XjFYui13hlKYiF9fz:after {
    left: 50%;
    bottom: -80px;
    height: 0;
    width: 0;
    margin-left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #5e33bf;
  }
  
  .jlXUNrOMfrz8QPtWwi9D:before {
    bottom: -50px;
    left: 25px;
    height: 50px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .jlXUNrOMfrz8QPtWwi9D:after {
    left: 10px;
    bottom: -80px;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #5e33bf;
  }
  
  .JeoJI1NdjwsQC_qBgQws:before {
    bottom: -50px;
    right: 25px;
    height: 50px;
    border-left: 5px solid #5e33bf;
    border-right: 5px solid #5e33bf;
  }
  .JeoJI1NdjwsQC_qBgQws:after {
    right: 10px;
    bottom: -80px;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #5e33bf;
  }
  
  .MU1OWZXYSl7cGLHsourz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-right: 85px;
    font-size: 26px;
    line-height: 1.25;
  }
  
  .G7McxXXrgjal0gygY7go {
    min-width: 30px;
    height: 40px;
    margin-right: 0.75rem;
  }
  .G7McxXXrgjal0gygY7go svg {
    max-height: 40px;
    height: auto;
    width: auto;
  }
  
  .mRKSYTEhLTxmKLYCNnX9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 40px;
  }
  
  .cA8Idbs6OA0BSmKw9Tam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    margin: 0;
    padding: 1rem;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
  }
  .cA8Idbs6OA0BSmKw9Tam svg {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .cA8Idbs6OA0BSmKw9Tam svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #fff;
  }
  .cA8Idbs6OA0BSmKw9Tam svg circle.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #696969;
  }
  .cA8Idbs6OA0BSmKw9Tam:hover,
  .cA8Idbs6OA0BSmKw9Tam:focus,
  .cA8Idbs6OA0BSmKw9Tam:focus-within,
  .cA8Idbs6OA0BSmKw9Tam:active {
    color: #dadada;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .cA8Idbs6OA0BSmKw9Tam:hover svg,
  .cA8Idbs6OA0BSmKw9Tam:focus svg,
  .cA8Idbs6OA0BSmKw9Tam:focus-within svg,
  .cA8Idbs6OA0BSmKw9Tam:active svg {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .cA8Idbs6OA0BSmKw9Tam:hover svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .cA8Idbs6OA0BSmKw9Tam:focus svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .cA8Idbs6OA0BSmKw9Tam:focus-within svg path:not(.UEpjZcO6H4w0RvC9Kcye),
  .cA8Idbs6OA0BSmKw9Tam:active svg path:not(.UEpjZcO6H4w0RvC9Kcye) {
    -webkit-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
    fill: #dadada;
  }
  .cA8Idbs6OA0BSmKw9Tam:hover svg circle.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:hover svg path.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:focus svg circle.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:focus svg path.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:focus-within svg circle.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:focus-within svg path.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:active svg circle.gZCekxKuewhQhlBZDuJQ,
  .cA8Idbs6OA0BSmKw9Tam:active svg path.gZCekxKuewhQhlBZDuJQ {
    fill: transparent;
    stroke: #5e33bf;
  }
  
  .TKXFYjyTT7BRVXk2l6uF {
    margin: 15px 0;
    line-height: 1.25;
    background: #5e33bf;
    color: #fff;
  }
  .TKXFYjyTT7BRVXk2l6uF:first-of-type,
  .TKXFYjyTT7BRVXk2l6uF:first-child {
    margin-top: 0;
  }
  .TKXFYjyTT7BRVXk2l6uF:last-child {
    margin-bottom: 0;
  }
  
  .NnI3UXnyndFcINeMIp0o {
    font-size: 18px;
    font-weight: 700;
  }
  
  .FV8g2jL10G1UB_eAf9BA {
    text-align: right;
  }
  .FV8g2jL10G1UB_eAf9BA a{
   color: white;
   text-decoration: underline;
  }
  .FV8g2jL10G1UB_eAf9BA a:hover{
    color: white;
    text-decoration: none;
   }
  
  .wwyWCr_3HEEc_JqAydbV {
    text-align: center;
  }
  .z4zawF9GdEBCaptUBX5p {
    cursor: pointer;
  }
  .JcejyBv9JYPL8TJLsJFI {
    cursor: pointer;
  }
  .Mo7gxI5NC9YwGrb2VuBI {
    position: absolute;
    width: 273px;
    bottom: 120px;
    left: 155px;
    padding: 15px;
    border-radius: 2px;
    background-color: rgba(48, 55, 61, 1);
    z-index: 500000000;
  }
  
  .h5vXAMG8g9yvOW1B6wro {
    left: 15px;
    bottom: 100px;
  }
  
  .h5vXAMG8g9yvOW1B6wro::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 15px;
    height: 0;
    border-top: 15px solid #30373d;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  
  .IAiRh1I0k5egyOBwu5xu {
    bottom: 111px;
    left: 283px;
    width: 18px;
    height: 18px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(48, 55, 61, 1);
  }
  
  .SH95mwXWE4rR88NI9kdw {
    font-family: "Clarivate";
    text-align: left;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /* Content visibility */
  .JDTc_LYE4hywcP2UrMj1 {
    display: none;
    height: 100%;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .JDTc_LYE4hywcP2UrMj1.xt3prUvhYpXaDTATSaqi {
    display: block;
    -webkit-animation-name: cyDGHsYvrKbP8e_GTG2d;
    animation-name: cyDGHsYvrKbP8e_GTG2d;
  }
  
  @keyframes cyDGHsYvrKbP8e_GTG2d {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #p23dTdp5Vjnb1kKXw0Pm {
    color: #fff;
  }
  
  #p23dTdp5Vjnb1kKXw0Pm:hover {
    color: #dadada;
    text-decoration: none;
  }